$html3_03_bgColor:#6D4C41;

$sorotabi-title1:#F4FFF6;
$sorotabi-title2:#DBFBFF;
$sorotabi-title3:#21CCFF;

$header-color:#ACF1FD;
$sorotabi-btn:#2680EB;
$price-color:#FF0000;
$bg-color:#D9EFF4;
$address-color:#9D9D9D;