<!DOCTYPE html>
html(lang="ja")
    head
        include _temp_p_head
        link(href="css/sorotabi-history.css" rel="stylesheet" type="text/css")

    body

        header
            button.logo-btn
                a(href="sorotabi-title.html")
                    img(src="img/logo-min.svg", alt="")
            h1
                img(src="img/search.svg", alt="" lass="search-head")
        
        main
                //- -------------------------------------検索欄--------------------------------
                section.searchWrap
                    .search
                        input(type="text" placeholder="都道府県、お店、観光地を入力してください")
                        button
                            img(src="img/search.svg", alt="")

                
                //- ----------履歴１-------------------------------------------
                section.sectionWrap
                    h2.ttl 観覧履歴
                    .line-bar
                        h2
                            time 2021/08/28
                    .popularItemWrap
                        a(href="").scrollItem
                            .Item-left
                                figure
                                    img(src="img/AdobeStock_304561907.png", alt="")
                                .popularItemTextAll
                                    .explanation
                                        h2 大阪城天守閣                            
                                        address 大阪府大阪市中央区大阪城1-1

                                        img(src="img/ster-yellow.svg", alt="")
                                        span.evaluation-people 4.5
                                        span.evaluation-people#number (53,376)


                            .popularItemTextWrap
                                .Sales
                                    p.times 営業時間：
                                            br
                                            |9:00〜17:00

                                    .priceWrap
                                        p.people 大人(中学生以下：無料)
                                        span.price 料金：600円

                        //- ----------履歴１-------------------------------------------

                        a(href="").scrollItem
                            .Item-left
                                figure
                                    img(src="img/AdobeStock_296859474_Editorial_Use_Only.png", alt="")
                                .popularItemTextAll
                                    .explanation
                                        h2 大阪城天守閣                            
                                        address 大阪府大阪市中央区大阪城1-1

                                        img(src="img/ster-yellow.svg", alt="")
                                        span.evaluation-people 4.5
                                        span.evaluation-people#number (53,376)

                            .popularItemTextWrap
                                .Sales
                                    p.times 営業時間：
                                            br
                                            |9:00〜17:00

                                    .priceWrap
                                        p.people 大人(中学生以下：無料)
                                        span.price 料金：600円

                        a(href="").scrollItem
                            .Item-left
                                figure
                                    img(src="img/AdobeStock_295748736_Editorial_Use_Only.png", alt="")

                                .popularItemTextAll
                                    .explanation
                                        h2 大阪城天守閣                            
                                        address 大阪府大阪市中央区大阪城1-1

                                        img(src="img/ster-yellow.svg", alt="")
                                        span.evaluation-people 4.5
                                        span.evaluation-people#number (53,376)

                            .popularItemTextWrap
                                .Sales
                                    p.times 営業時間：
                                            br
                                            |9:00〜17:00

                                    .priceWrap
                                        p.people 大人(中学生以下：無料)
                                        span.price 料金：600円

                    //- --------------------履歴２--------------------------------
                    .line-bar
                        h2
                            time 2021/07/21

                    .popularItemWrap
                        a(href="").scrollItem
                            .Item-left
                                figure
                                    img(src="img/AdobeStock_439982752_Editorial_Use_Only.png", alt="")

                                .popularItemTextAll
                                    .explanation
                                        h2 大阪城天守閣                            
                                        address 大阪府大阪市中央区大阪城1-1

                                        img(src="img/ster-yellow.svg", alt="")
                                        span.evaluation-people 4.5
                                        span.evaluation-people#number (53,376)

                            .popularItemTextWrap
                                .Sales
                                    p.times 営業時間：
                                            br
                                            |9:00〜17:00

                                    .priceWrap
                                        p.people 大人(中学生以下：無料)
                                        span.price 料金：600円

                        a(href="").scrollItem
                            .Item-left
                                figure
                                    img(src="img/AdobeStock_437104178_Editorial_Use_Only.png", alt="")

                                .popularItemTextAll
                                    .explanation
                                        h2 大阪城天守閣                            
                                        address 大阪府大阪市中央区大阪城1-1

                                        img(src="img/ster-yellow.svg", alt="")
                                        span.evaluation-people 4.5
                                        span.evaluation-people#number (53,376)
                                
                            .popularItemTextWrap
                                .Sales
                                    p.times 営業時間：
                                            br
                                            |9:00〜17:00

                                    .priceWrap
                                        p.people 大人(中学生以下：無料)
                                        span.price 料金：600円


                    //- ---------------------履歴３----------------------------------
                    .line-bar
                        h2
                            time 2021/06/17

                    .popularItemWrap
                        a(href="").scrollItem
                            .Item-left
                                figure
                                    img(src="img/AdobeStock_375825468.png", alt="")

                                .popularItemTextAll
                                .explanation
                                    h2 大阪城天守閣                            
                                    address 大阪府大阪市中央区大阪城1-1

                                    img(src="img/ster-yellow.svg", alt="")
                                    span.evaluation-people 4.5
                                    span.evaluation-people#number (53,376)
                                
                            .popularItemTextWrap
                                .Sales
                                    p.times 営業時間：
                                            br
                                            |9:00〜17:00

                                    .priceWrap
                                        p.people 大人(中学生以下：無料)
                                        span.price 料金：600円


        //- ----------------フッター-------------------------------------
        footer
                button
                    a(href="sorotabi-home.html")
                        img(src="img/home.svg", alt="")
                        p ホーム
                
                button
                    a(href="sorotabi-history.html")
                        img(src="img/history.svg", alt="")
                        p 履歴
                
                button.Myplan
                    a(href="sorotabi-myplan.html")
                        img(src="img/list-order.svg", alt="")
                        p マイプラン
                    
                button
                    a(href="sorotabi-shop.html")
                        img(src="img/cart.svg", alt="")
                        p ショップ
                
                button
                    a(href="sorotabi-login.html")
                        img(src="img/user.svg", alt="")
                        p ユーザー


    include _temp_p_foot
