<!DOCTYPE html>
html(lang="ja")
    head
        link(href="css/sorotabi-title.css" rel="stylesheet" type="text/css")
        include _temp_p_head
        title そろたび
    body
        .title-item
            figure
                img(src="img/logo.svg", alt="")
            
            button
                a(href="sorotabi-home.html").start-btn はじめる


    include _temp_p_foot