<!DOCTYPE html>
html(lang="ja")
    head
        link(href="css/sorotabi-login.css" rel="stylesheet" type="text/css")
        include _temp_p_head
    body
        header
            button.logo-btn
                a(href="sorotabi-title.html")
                    img(src="img/logo-min.svg", alt="")
            h1
                img(src="img/search.svg", alt="" class="search-head")
        //- ------------メイン------------------------------------------
        main    
            section
                h2 ログイン
                h3 メールアドレス
                input(type="text" placeholder="メールアドレスを入力してください")
                h3 パスワード
                input(type="password" placeholder="パスワードを入力してください")
                button
                    a(href="#" class="login") ログイン
                
                .catch
                    p 忘れた方はこちら
                
                p.Change
                    a(href="") パスワードを変更する

                button.signup
                    a(href="#" class="login") 新規登録






        //- ----------------フッター-------------------------------------
        footer
                button
                    a(href="sorotabi-home.html")
                        img(src="img/home.svg", alt="")
                        p ホーム
                
                button
                    a(href="sorotabi-history.html")
                        img(src="img/history.svg", alt="")
                        p 履歴
                
                button.Myplan
                    a(href="sorotabi-myplan.html")
                        img(src="img/list-order.svg", alt="")
                        p マイプラン
                    
                button
                    a(href="sorotabi-shop.html")
                        img(src="img/cart.svg", alt="")
                        p ショップ
                
                button
                    a(href="sorotabi-login.html")
                        img(src="img/user.svg", alt="")
                        p ユーザー

    include _temp_p_foot
