<!DOCTYPE html>
html(lang="ja")
    head
        include _temp_p_head
        link(href="css/sorotabi-home.css" rel="stylesheet" type="text/css")
    body

        header
            button.logo-btn
                a(href="sorotabi-title.html")
                    img(src="img/logo-min.svg", alt="")
            h1
                img(src="img/search.svg", alt="" class="search-head")

        main
            section.searchWrap
                .search
                    input(type="text" placeholder="都道府県、お店、観光地を入力してください")
                    button
                        img(src="img/search.svg", alt="")

            //- --------------------オススメ: 観光地・飲食店・宿泊先--------------
            section.section-top
                h2 オススメ: 観光地・飲食店・宿泊先
                .show-all
                    button
                        a(href="#") すべてを表示
                .popularItemWrap
                    a(href="").scrollItem
                        figure
                            img(src="img/osakazyou.png", alt="")
                        .explanation
                            .popularName
                                h3 大阪城天守閣
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)
                            
                        address 大阪府大阪市中央区大阪城1-1
                        .Sales
                            p.times 営業時間：9:00〜17:00

                            .priceWrap
                                p.people 大人(中学生以下：無料)
                                span.price 料金：600円


                    a(href="").scrollItem
                        figure
                            img(src="img/kaiyukan.png", alt="")
                        .explanation
                            .popularName
                                h3 海遊館
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)
                            
                        address 大阪府大阪市港区海岸通1-1-10
                        .Sales
                            p.times 営業時間：9:30〜17:00
                            
                            .priceWrap
                                p.people 大人(小人：1200円)
                                span.price 料金：2400円

                    a(href="").scrollItem
                        figure
                            img(src="img/takoyaki.png", alt="")
                        .explanation
                            .popularName
                                h3 はなだこ
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)

                        address 大阪府大阪市中央区大阪城1-1
                        .Sales
                            p.times 営業時間：9:00〜17:00

                            .priceWrap
                                p.people 大人 (中学生以下：無料)
                                span.price 料金：600円


                    a(href="").scrollItem
                        figure
                            img(src="img/AdobeStock_66845720.png", alt="")
                        .explanation
                            .popularName
                                h3 ホテルムーンビーチ
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)

                        address 沖縄県国頭郡恩納村前兼久120-3
                        .Sales
                            p.times 年中無休

                            .priceWrap
                                span.price 料金：13000円


                    a(href="").scrollItem
                        figure
                            img(src="img/AdobeStock_95358673.png", alt="")
                        .explanation
                            .popularName
                                h3 波の湯　茜
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)

                        address 長崎県雲仙市小浜町マリーナ20
                        .Sales
                            p.times 営業時間：10:00~18:00

                            .priceWrap
                                span.price 料金：600円


                    a(href="").scrollItem
                        figure
                            img(src="img/AdobeStock_34009550.png", alt="")
                        .explanation
                            .popularName
                                h3 パークホテル　東京
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)

                        address 東京都港区東新橋１丁目７−１ 汐留メディアタワ フロント25F
                        .Sales
                            p.times 営業時間：9:00〜17:00

                            .priceWrap
                                p.people 大人 (中学生以下：無料)
                                span.price 料金：600円

                //----------お気に入り登録した都道府県の観光場所-----------------------
            section.favorite
                h2 お気に入り登録した場所
                .show-all
                    button
                        a(href="#") すべてを表示

                .popularItemWrap
                    a(href="").scrollItem
                        figure
                            img(src="img/nanba.png", alt="")
                        .explanation
                            .popularName
                                h3 なんばグランド花月
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)

                        address 大阪府大阪市中央区難波千日前11-6
                        .Sales
                            p.times 営業時間 : 11:00・14:30

                            p.price 1階席：4800円
                                    br
                                    |2階席：4300円

                    a(href="").scrollItem
                        figure
                            img(src="img/banpaku.png", alt="")
                        .explanation
                            .popularName
                                h3 万博記念公園
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)

                        address 大阪府吹田市千里万博公園
                        .Sales
                            p.times 営業時間：10:00〜17:00
                            .priceWrap
                                p.people 大人(小人：80円)
                                span.price 料金：260円

                    a(href="").scrollItem
                        figure
                            img(src="img/zoo.png", alt="")
                        .explanation
                            .popularName
                                h3 天王寺動物園
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)

                        address 大阪府大阪市天王寺区茶臼山町1-108
                        .Sales
                            p.times 営業時間：9:30〜17:00
                            .priceWrap
                                p.people 大人(小人：200円)
                                span.price 料金：500円

                    a(href="").scrollItem
                        figure
                            img(src="img/AdobeStock_66845720.png", alt="")
                        .explanation
                            .popularName
                                h3 ホテルムーンビーチ
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)

                        address 沖縄県国頭郡恩納村前兼久120-3
                        .Sales
                            p.times 年中無休

                            .priceWrap
                                span.price 料金：13000円


                    a(href="").scrollItem
                        figure
                            img(src="img/AdobeStock_95358673.png", alt="")
                        .explanation
                            .popularName
                                h3 波の湯　茜
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)

                        address 長崎県雲仙市小浜町マリーナ20
                        .Sales
                            p.times 営業時間：10:00~18:00

                            .priceWrap
                                span.price 料金：600円


                    a(href="").scrollItem
                        figure
                            img(src="img/AdobeStock_34009550.png", alt="")
                        .explanation
                            .popularName
                                h3 パークホテル　東京
                            .evaluation
                                img(src="img/ster-yellow.svg", alt="")
                                span.evaluation-people 4.5
                                span.evaluation-people#number (53,376)

                        address 東京都港区東新橋１丁目７−１ 汐留メディアタワ フロント25F
                        .Sales
                            p.times 営業時間：9:00〜17:00

                            .priceWrap
                                p.people 大人 (中学生以下：無料)
                                span.price 料金：600円



            //- ----------------交通プラン------------
            section.traffic
                h2 交通プランから探す

                .traffic-btn
                    button 
                        a(href="") 
                            img(src="img/android-boat.svg", alt="")
                            p フェリー
                    button
                        a(href="")
                            img(src="img/airplane-sharp.svg", alt="")
                            p 航空機
                    
                    button
                        a(href="")
                            img(src="img/android-bus.svg", alt="")
                            p 高速バス
                    
                    button
                        a(href="")
                            img(src="img/android-car.svg", alt="")
                            p レンタカー
            //- -------------------公開プラン----------------
            section.Release-plan
                h2 公開されたユーザーのプラン

                .ReleaseWrap
                    .Release-title
                        figure
                            img(src="img/yamashita.png", alt="")
                        h3 山下 隆文さんが公開したプラン

                    .show-all
                        button
                            a(href="#") すべてを表示

                    .scrollWrap
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")


                .ReleaseWrap
                    .Release-title
                        figure
                            img(src="img/yamashita.png", alt="")
                        h3 山下 隆文さんが公開したプラン

                    .show-all
                        button
                            a(href="#") すべてを表示

                    .scrollWrap
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")


                .ReleaseWrap
                    .Release-title
                        figure
                            img(src="img/yamashita.png", alt="")
                        h3 山下 隆文さんが公開したプラン

                    .show-all
                        button
                            a(href="#") すべてを表示

                    .scrollWrap
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")



                .ReleaseWrap
                    .Release-title
                        figure
                            img(src="img/yamashita.png", alt="")
                        h3 山下 隆文さんが公開したプラン

                    .show-all
                        button
                            a(href="#") すべてを表示

                    .scrollWrap
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")
                        a(href="#")
                            img(src="img/osaka-min.png", alt="")

            section.Word-of-mouth
                h2 その他のリンク
                button
                    a(href="") そろたびとは
                        img(src="img/chevron-right.svg", alt="")
                button
                    a(href="") プライバシーポリシー
                        img(src="img/chevron-right.svg", alt="")

                button
                    a(href="") お問い合わせ
                        img(src="img/chevron-right.svg", alt="")


        footer
                button
                    a(href="sorotabi-home.html")
                        img(src="img/home.svg", alt="")
                        p ホーム
                
                button
                    a(href="sorotabi-history.html")
                        img(src="img/history.svg", alt="")
                        p 履歴
                
                button.Myplan
                    a(href="sorotabi-myplan.html")
                        img(src="img/list-order.svg", alt="")
                        p マイプラン
                    
                button
                    a(href="sorotabi-shop.html")
                        img(src="img/cart.svg", alt="")
                        p ショップ
                
                button
                    a(href="sorotabi-login.html")
                        img(src="img/user.svg", alt="")
                        p ユーザー


    include _temp_p_foot
